/* * {
        margin:0;
        padding:0;
        border: 1px solid blue;
} */

/* main {
     blackground
}
/*

#pie {
    blackground-color:gray;
}

#pie_#encabezado {
    blackground-color:gray;
}

*{ 
    color:gray
}
